day-9/n8n-workflows/post-call.json
[{"updatedAt":"2026-06-26T12:17:23.629Z","createdAt":"2026-06-26T11:45:54.818Z","id":"postCallWF000001","name":"post-call","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"call-ended","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"a1b2c3d4-0001-4a01-8a01-000000000001","name":"Webhook","webhookId":"a1b2c3d4-0002-4a02-8a02-000000000002"},{"parameters":{"assignments":{"assignments":[{"id":"f1000000-0000-4000-8000-000000000001","name":"timestamp","value":"={{ $json.body.timestamp || $now.toISO() }}","type":"string"},{"id":"f1000000-0000-4000-8000-000000000002","name":"caller_number","value":"={{ $json.body.caller_number }}","type":"string"},{"id":"f1000000-0000-4000-8000-000000000003","name":"intent","value":"={{ $json.body.intent }}","type":"string"},{"id":"f1000000-0000-4000-8000-000000000004","name":"summary","value":"={{ $json.body.summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"a1b2c3d4-0003-4a03-8a03-000000000003","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1TT2KzuLLIAilsy2pYC4qp0g0zzmbKGkP1uf5kxUoO0M/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TT2KzuLLIAilsy2pYC4qp0g0zzmbKGkP1uf5kxUoO0M/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"caller_number","displayName":"caller_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"intent","displayName":"intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[416,0],"id":"a1b2c3d4-0004-4a04-8a04-000000000004","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"gDnDMuwiRQG30U44","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"f0c44755-4326-4b24-b2e3-d5357eb9faac","activeVersionId":"3f99ae94-3503-44d0-925f-ad56bdf7b3a1","versionCounter":7,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-26T11:45:54.820Z","createdAt":"2026-06-26T11:45:54.820Z","role":"workflow:owner","workflowId":"postCallWF000001","projectId":"Rg2MysYDsEtCTlzT","project":{"updatedAt":"2026-06-26T11:23:58.968Z","createdAt":"2026-06-26T11:22:08.492Z","id":"Rg2MysYDsEtCTlzT","name":"Samarth Biradar <samarth.biradar@plivo.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"94314067-f777-4065-9e3e-375dcf34f353"}}],"versionMetadata":{"name":null,"description":null}}]